@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Fira+Code&display=swap');
@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
}

/* Code block font */
.code-block {
  @apply bg-gray-900 text-green-300 p-4 rounded-lg overflow-x-auto font-mono whitespace-pre-wrap;
  font-family: 'Fira Code', monospace;
}

.animated-gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent; /* This creates the border */
  background: conic-gradient(from var(--angle), #059669, #14b8a6, #06b6d4, #14b8a6, #059669) border-box;
  animation: rotate 6s linear infinite;
  z-index: -1; /* Place it behind the content */
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}